.header {
    position: fixed;
    inset: 0 0 auto;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--clr-ntrl-min);
    font-size: var(--fs-xs);

    @include mq(medium) {
        position: sticky;
        flex-direction: row;

        font-size: var(--fs-sm);

        &--changePosition {
            position: fixed;
            padding: 1rem 2rem;
        }
    }

    @include mq(largest) {
        font-size: var(--fs-base);

        &--changePosition {
            padding: 1.5rem 2.5rem;
        }
    }

    &__group-navs {
        position: absolute;
        inset: 0 0 auto;
        z-index: -1;

        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;

        padding: 1rem;
        background: var(--clr-ntrl-min);

        transform: translateY(-100%);
        transition: transform 750ms;

        @include mq(medium) {
            display: contents;
        }
    }

    &__nav {
        & .nav__list {
            align-items: center;
            justify-content: center;

            &--secondary {
                flex-direction: column;

                @include mq(medium) {
                    flex-direction: row;
                }
            }
        }
    }

    &__menu {
        position: relative;

        display: flex;
        justify-content: flex-end;

        padding: .5rem;
        background: var(--clr-ntrl-min);

        @include mq(medium) {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0 0 auto;

            display: block;

            width: 100%;
            height: 2px;

            transform: translateY(0);
            transition:
                background-color 300ms 1250ms,
                transform 300ms 850ms;

            @include mq(medium) {
                display: none;
            }
        }
    }

    &:has(.menu--opened) {
        & .header__menu::before {
            background: var(--clr-primary-300);

            transform: translateY(5rem);
            transition:
                background-color 300ms,
                transform 300ms 300ms;
        }

        & .header__group-navs {
            transform: translateY(5rem);
            transition: transform 500ms 750ms;
        }
    }
}