html {
    min-height: 100vh;
    min-height: 100dvh;
}

body {
    min-height: 100vh;
    min-height: 100dvh;

    padding: 1.8rem 1.6rem;

    background: var(--clr-ntrl-min);
    font-family: var(--ff-primary);

    @include mq(medium) {
        padding: 3.8rem;
    }

    @include mq(largest) {
        padding: 3.8rem 7.2rem;
    }
}

::selection {
    color: var(--clr-ntrl-min);
    background: var(--clr-primary-200);
}

::-webkit-scrollbar {
    display: block;
    width: 1rem;

    @include mq(medium) { width: 1.2rem; }
    @include mq(largest) { width: 1.4rem; }
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary-200);
    border-radius: 5px;
}